//Scroll. No sigue criterios BEM
html {
  scroll-behavior: smooth;
}

.container {
  background-color: $bg-color;
  margin: 0 100px;
  font-family: $font-family;
  color: $color-primary;
}

//Herencia
%body-border {
  height: 100%;
  width: 40px;
  top: 0;
  z-index: 10000;
  position: fixed;
  background-color: $color-secondary;
}

.body-border {
  @extend %body-border;

  &--left {
    @extend %body-border;
    left: 0;
  }

  &--right {
    @extend %body-border;
    right: 0;
  }
}

//Herencia
%seccion {
  clear: both;
  margin: 0 auto;
}

.seccion {
  @extend %seccion;
  padding: {
    top: 3%;
    right: 20%;
    left: 20%;
  }

  &--fullwidth {
    @extend %seccion;

    padding: {
      top: 6%;
      right: 5%;
      left: 5%;
    }
  }

  &__columna {
    @include columna(50%, left);

    &--3 {
      @include columna(33.33%, left);
      margin-top: 0;
      padding-right: 2%;
      box-sizing: border-box;
    }

    &--align {
      text-align: right;
    }
  }

  &__title {
    margin-top: 20px;
  }

  &__txt {
    font-size: 1em;

    &--big-size {
      font-size: 3.2em;
      font-weight: 600;
      line-height: 58px;
    }

    &--italic {
      font-style: italic;
    }
  }
}

.btn {
  width: 120px;
  padding: 10px 20px;
  color: $color-secondary;
  background-color: $btn-bgcolor-primary;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: 2px solid $color-primary;
  display: block;
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $btn-bgcolor_hover;
    color: $color-primary;
    border: 2px solid  $color-primary;
  }
}

.software {
  clear: both;

  &__img {
    float: left;
    margin: {
      bottom: 10px;
      right: 10px;
    }
  }

  &__txt {
    float: left;
    line-height: 0.5em;
  }
}

.portfolio-item {
  margin: {
    bottom: 10%;
    right: 2%;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: $box-shadow;
    }
  }

  &__title {
    padding-bottom: 1%;
    margin: 0;
  }

  &__categoria {
    padding: 0;
    margin: 0;
  }
}

//Herencia
%box-form {
  width: 100%;
  display: block;
  background-color: $bg-color-box-form;
  border-radius: 4px;
  line-height: 24px;
  color: $color-placeholder;
  padding: 2%;
  border: 0;
  font-size: 0.8em;
  font-family: $font-family;
  margin-top: 1%;
}

.form {
  &__label {
    width: 100%;
    display: block;
    padding-bottom: 2%;
    font-weight: 600;
  }

  &__input {
    @extend %box-form;
  }

  &__textarea {
    @extend %box-form;
  }
}
