@mixin link-inline($margin-left: 0) {
  margin-right: 15px;
  margin-left: $margin-left;
  text-decoration: none;
  color: $color-primary;
  line-height: 2.2em;
}

@mixin columna($width, $float) {
  width: $width;
  float: $float;
}
