@mixin menu__link($margin-left: 0) {
  margin-right: 15px;
  margin-left: $margin-left;
  text-decoration: none;
  color: $color-primary;
}

@mixin columna($width, $float) {
  width: $width;
  float: $float;
}
