$font-family: "Lato", sans-serif;

$color-primary: #333;
$color-secondary: #fff;
$bg-color: #f2f2f2;
$color-placeholder: lighten($color-primary, 20%);
$bg-color-box-form: rgba(0, 0, 0, 0.04);
$border-container-color: $color-secondary;

$btn-bgcolor-primary: $color-primary;
$btn-bgcolor_hover: $bg-color;

$box-shadow: 0 5px 30px 5px rgba(102, 102, 102, 0.3);
$thetransition: all 0.5s cubic-bezier(0.5, 0.25, 0, 0.75) 0s;
